body {
    font-family: "Open Sans", sans-serif;
    color: #2a3b71;
    font-size: 16px;
    position: relative;
    overflow-x: hidden;
}

::-webkit-input-placeholder {
    font-style: italic;
    color: #fff !important;
}

::-moz-placeholder {
    font-style: italic;
    color: #fff !important;
}

:-ms-input-placeholder {
    font-style: italic;
    color: #fff !important;
}

:-moz-placeholder {
    font-style: italic;
    color: #fff !important;
}

a:focus {
    outline: 0;
    outline-offset: none;
}

a:hover {
    text-decoration: none;
}

.btn-default {
    border-radius: 50px;
    background: 0 0;
    padding: 10px 20px;
    min-width: 170px;
    border: 2px solid #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-default:hover {
    border-color: #bf095d;
    background: #bf095d;
    color: #fff;
}

.btn-default.colored {
    color: #bf095d;
    border-color: #bf095d;
}

.btn-default.colored:hover {
    color: #fff;
}

.btn-default.blue {
    color: #2a3b71;
    border-color: #2a3b71;
}

.btn-default.blue:hover {
    color: #fff;
    background: #2a3b71;
}

.mt-200 {
    margin-top: 200px;
}

.mt-250 {
    margin-top: 250px;
}

.space-25 {
    height: 25px;
}

.space-50 {
    height: 50px;
}

.padding-100 {
    padding: 100px 0;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.section-heade h3 {
    color: #2a3b71;
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 5px;
}

.section-heade p {
    color: #2a3b71;
    margin: 0;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
}

.section-heade.white h3,
.section-heade.white p {
    color: #fff;
}

ul.social-icons {
    margin-left: 0;
}

ul.social-icons li {
    border-radius: 50%;
    border: 2px solid #233b88;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.social-icons li i {
    font-size: 14px;
    color: #233b88;
}

ul.social-icons li:hover i {
    color: white;
}

ul.social-icons li.facebook:hover {
    border-color: #3b5a9a;
    background: #3b5a9a;
}

ul.social-icons li.twitter:hover {
    border-color: #54abf0;
    background: #54abf0;
}

ul.social-icons li.google-plus:hover {
    border-color: #dd4b3e;
    background: #dd4b3e;
}

ul.social-icons li.linkedin:hover {
    border-color: #0175b0;
    background: #0175b0;
}

ul.social-icons li.pinterest:hover {
    border-color: #be0719;
    background: #be0719;
}

.page-head {
    position: relative;
    padding: 100px 0;
}

.page-head h2 {
    font-size: 50px;
    margin: 0;
    padding: 100px 0 10px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.page-head .breadcrumb {
    background: 0 0;
    padding: 0;
}

.page-head .breadcrumb,
.page-head .breadcrumb a {
    color: #fff;
}

.page-head .breadcrumb a:hover {
    text-decoration: none;
}

.page-head .breadcrumb>li+li:before {
    color: #fff;
}

.pagination {
    margin: 40px 0 20px;
}

.pagination>li>a,
.pagination>li>span {
    padding: 8px 15px;
    color: #bf095d;
    border-color: #bf095d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: -moz-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background: -webkit-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background: -ms-linear-gradient(-29deg, #333767 0, #233b88 100%);
    border-color: #bf095d;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 8px 20px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 8px 20px;
}

@media (max-width: 991px) {
    .mt-250 {
        margin-top: 125px;
    }

    .mt-200 {
        margin-top: 100px;
    }

    .btn-default {
        padding: 10px 10px;
        min-width: 150px;
        font-size: 12px;
    }

    .section-heade h3 {
        font-weight: 300;
    }
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: -moz-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background: -webkit-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background: -ms-linear-gradient(-29deg, #333767 0, #233b88 100%);
}

.preloader .spinner {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.preloader .spinner .cube1,
.preloader .spinner .cube2 {
    background-color: #fff;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.preloader .spinner .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        -webkit-transform: translateX(0) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        transform: translateX(0) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

.appy-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-radius: 0;
    border: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: -moz-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background: -webkit-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background: -ms-linear-gradient(-29deg, #333767 0, #233b88 100%);
}

.appy-menu.sticky {
    background: -moz-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background: -webkit-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background: -ms-linear-gradient(-29deg, #333767 0, #233b88 100%);
    opacity: 0.9;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.8);
    padding: 0;
}

.appy-menu ul li a {
    color: #fff !important;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.appy-menu ul li .dropdown-menu li a {
    font-size: 13px;
    letter-spacing: 2px;
    padding: 8px 15px;
    text-transform: capitalize;
}

.appy-menu ul li .dropdown-menu li.active a {
    background: #fff;
    color: #bf095d !important;
}

.appy-menu ul li.dropdown>a {
    background: 0 0 !important;
}

.appy-menu ul li .dropdown-menu>a:after {
    content: "";
    left: 0;
    right: 0;
    bottom: 13px;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    height: 25px;
    border-radius: 20px;
    background: #fff;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.appy-menu ul.nav>li.active>a:after,
.appy-menu ul.nav>li>a:hover:after {
    content: "";
    left: 0;
    right: 0;
    bottom: 13px;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    height: 25px;
    border-radius: 20px;
    background: #fff;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.appy-menu ul li .dropdown-menu {
    background: -moz-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background: -webkit-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background: -ms-linear-gradient(-29deg, #333767 0, #233b88 100%);
    padding: 0;
    border: 0;
    border-radius: 0;
}

.appy-menu .navbar-nav>.active>a,
.appy-menu .navbar-nav>.active>a:focus,
.appy-menu .navbar-nav>.active>a:hover {
    background: 0 0;
    color: #bf095d !important;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.appy-menu .navbar-brand {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

.appy-menu ul li a:hover {
    color: #bf095d !important;
}

.appy-menu .navbar-brand {
    height: auto;
    max-width: 250px;
    padding: 5px 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.appy-menu.sticky .navbar-brand {
    padding: 15px;
}

.appy-menu.navbar-light .navbar-toggler {
    background: #fff;
    border-color: #fff;
    margin-top: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.appy-menu.navbar-light .navbar-toggler .icon-bar {
    background-color: #bf095d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.appy-menu.navbar-light .navbar-toggler.collapsed {
    background: 0 0;
}

.appy-menu.navbar-light .navbar-toggler.collapsed .icon-bar {
    background-color: #fff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0 !important;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

@media (max-width: 767px) {
    .appy-menu .navbar-brand {
        padding: 15px;
    }

    .appy-menu ul li a {
        text-align: center;
    }

    .appy-menu ul li a:hover:after,
    .appy-menu ul li.active a:after {
        bottom: 8px !important;
    }

    .appy-menu ul li.open>a:after,
    .appy-menu ul li.open>a:hover:after {
        bottom: 8px !important;
    }
}

@media (min-width: 768px) {
    .appy-menu {
        padding: 30px 0;
        background: 0 0;
    }

    .appy-menu.sticky .navbar-nav>li>a {
        padding: 20px 15px;
    }

    .appy-menu.sticky ul li a:hover:after,
    .appy-menu.sticky ul li.active a:after {
        bottom: 18px;
    }

    .appy-menu.sticky ul li.open>a:after,
    .appy-menu.sticky ul li.open>a:hover:after {
        bottom: 18px;
    }

    .appy-menu .nav li.dropdown:hover>.dropdown-menu {
        display: block;
    }
}

#home_banner {
    position: relative;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -moz-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background-image: -webkit-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background-image: -ms-linear-gradient(-29deg, #333767 0, #233b88 100%);
    opacity: 0.9;
}

#home_banner h3 {
    font-size: 55px;
    color: #fff;
    font-weight: 600;
    margin: 0;
    line-height: 70px;
}

#home_banner p {
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    margin: 20px 0 30px;
}

#home_banner .btn {
    margin: 0 20px 20px 0;
}

#home_banner .btn:hover {
    border-color: #fff;
    background: #fff;
    color: #bf095d;
}

@media (max-width: 991px) {
    #home_banner h3 {
        font-size: 30px;
        line-height: 50px;
    }

    #home_banner p {
        font-size: 18px;
    }

    #home_banner .btn {
        margin: 0 20px 20px 0;
    }
}

#home_banner.index-style-2 {
    height: 90vh;
}

#home_banner.index-style-2 .home-slider {
    position: absolute;
    top: 0;
    bottom: 0;
}

#home_banner.index-style-2 .owl-carousel div:not(.owl-dots):not(.owl-nav):not(.slide-content):not(.owl-prev):not(.owl-next) {
    height: 100%;
}

#home_banner.index-style-2 .slide-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#home_banner.index-style-2 .owl-carousel .owl-nav .owl-next,
#home_banner.index-style-2 .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    padding: 15px 20px;
    background: 0 0;
    border: 1px solid #fff;
    border-radius: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#home_banner.index-style-2 .owl-carousel .owl-nav .owl-prev {
    left: 0;
}

#home_banner.index-style-2 .owl-carousel .owl-nav .owl-next {
    right: 0;
}

#home_banner.index-style-2 .owl-carousel .owl-dots {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

#home_banner.index-style-2 .owl-carousel .owl-dots span {
    background: #fff;
    width: 13px;
    height: 13px;
}

#home_banner.index-style-2 .owl-carousel .owl-dots .owl-dot.active span {
    background: #bf095d;
}

#home_banner.index-style-2 .owl-carousel .owl-item.active .fadecontent-l {
    -webkit-animation: fadeInLeft 1s cubic-bezier(0.7, 0, 0.3, 1) 0.4s both;
    animation: fadeInLeft 1s cubic-bezier(0.7, 0, 0.3, 1) 0.4s both;
}

#home_banner.index-style-2 .owl-carousel .owl-item.active .fadecontent-r {
    -webkit-animation: fadeInRight 1s cubic-bezier(0.7, 0, 0.3, 1) 0.4s both;
    animation: fadeInRight 1s cubic-bezier(0.7, 0, 0.3, 1) 0.4s both;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(30px, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

#home_banner.index-style-3 {
    height: 100vh;
}

#home_banner.index-style-3 .slide-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#home_banner.index-style-3 .slide-content p {
    max-width: 600px;
    margin: 20px auto 30px;
}

#home_banner.index-style-4 .owl-carousel .owl-item.active .fadecontent-t {
    -webkit-animation: fadeInUp 1s cubic-bezier(0.7, 0, 0.3, 1) 0.4s both;
    animation: fadeInUp 1s cubic-bezier(0.7, 0, 0.3, 1) 0.4s both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

#home_banner.index-style-4 .slide-content p {
    max-width: 600px;
    margin: 20px auto 30px;
}

#home_banner .owl-carousel .owl-item .item .overlay {
    background-image: -webkit-linear-gradient(-29deg, #333767 0, #233b88 100%);
}

#home_banner .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease;
}

#home_banner .owl-carousel .owl-item .owl-lazy:not([src]),
#home_banner .owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: none !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#howtowork .about-box {
    padding: 25px;
}

#howtowork .about-box h4 {
    margin: 30px 0;
    color: #fff;
    font-size: 20px;
}

#howtowork .about-box p {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

.one-feature h2 {
    font-size: 50px;
    color: #2a3b71;
    font-weight: 300;
    line-height: 60px;
    margin: 30px 0 15px;
}

.one-feature p {
    font-size: 18px;
    color: #2a3b71;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .one-feature h2 {
        font-size: 30px;
        line-height: 40px;
    }
}

#faq .panel {
    box-shadow: none;
    border: none;
}

#faq .panel .panel-heading {
    padding: 0;
    background-image: -moz-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background-image: -webkit-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background-image: -ms-linear-gradient(-29deg, #333767 0, #233b88 100%);
    border-radius: 0;
}

#faq .panel .panel-heading .panel-title {
    font-size: 15px;
}

#faq .panel .panel-heading .panel-title a {
    display: block;
    padding: 15px 15px 15px 0;
    color: #fff;
    text-transform: capitalize;
    margin-left: 40px;
    position: relative;
}

#faq .panel .panel-heading .panel-title a:hover {
    text-decoration: none;
}

#faq .panel .panel-heading .panel-title a:focus {
    text-decoration: none;
}

#faq .panel .panel-heading .panel-title a:after {
    content: "\f067";
    font: 18px fontAwesome;
    float: left;
    margin-top: 2px;
}

#faq .panel .panel-heading .panel-title a:after {
    content: "\f068";
    font: 18px fontAwesome;
    float: left;
    color: #fff;
    height: 40px;
    width: 40px;
    margin-left: -56px;
    position: absolute;
    line-height: 45px;
    text-align: center;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

#faq .panel .panel-heading .panel-title a.collapsed:after {
    content: "\f067";
    font: 18px fontAwesome;
    float: left;
    color: #fff;
    height: 40px;
    width: 40px;
    margin-left: -56px;
    position: absolute;
    line-height: 45px;
    text-align: center;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

#faq .panel .panel-collapse .panel-body {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    background: #fdfdfd;
    color: #2a3b71;
    border-top: none;
    border-bottom: 5px solid #f9f9f9;
}

#faq img {
    max-width: 170px;
}

#contact {
    position: relative;
}

#contact .form-control {
    height: 50px;
    padding: 10px 15px;
    background: #f6f6f6;
    border: none;
    border: 2px solid #f1f1f1;
    border-radius: 28px;
    color: #495057;
    letter-spacing: 2px;
    font-weight: 300;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#contact input::-webkit-input-placeholder {
    font-style: italic;
    color: #495057 !important;
}

#contact input::-moz-placeholder {
    font-style: italic;
    color: #495057 !important;
}

#contact input:-ms-input-placeholder {
    font-style: italic;
    color: #495057 !important;
}

#contact input:-moz-placeholder {
    font-style: italic;
    color: #495057 !important;
}

#contact textarea::-webkit-input-placeholder {
    font-style: italic;
    color: #495057 !important;
}

#contact textarea::-moz-placeholder {
    font-style: italic;
    color: #495057 !important;
}

#contact textarea:-ms-input-placeholder {
    font-style: italic;
    color: #495057 !important;
}

#contact textarea:-moz-placeholder {
    font-style: italic;
    color: #495057 !important;
}

#contact .form-control:focus {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.4);
}

#contact textarea.form-control {
    height: auto;
}

#contact .btn-default {
    border-radius: 0;
    background: #bf095d;
    border: none;
    margin: 20px 0;
    font-weight: 600;
    width: 100%;
}

#contact .btn-default:hover {
    background: #fff;
    color: #bf095d;
}

#contact .contact-info li {
    position: relative;
    overflow-y: hidden;
    margin-bottom: 20px;
    color: #fff;
}

#contact .contact-info li .icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    float: left;
    color: #233b88;
}

#contact .contact-info li .text {
    padding: 5px 10px;
    margin-left: 30px;
    color: #303952;
}

#contact .contact-info li .text a {
    color: #303952;
    text-decoration: none;
}

#contact .contact-info .info-box {
    padding: 1em 2em;
}

#contact .contact-info .info-box span {
    display: block;
    margin-bottom: 20px;
}

#contact .contact-info .info-box i {
    font-size: 60px;
    text-align: center;
    margin: 0 auto 20px;
}

#contact .contact-info .info-box h5,
#contact .contact-info .info-box a {
    font-size: 18px;
    line-height: 30px;
    display: block;
    color: #303952;
}

.form-request {
    position: relative;
}

.form-request .header {
    font-size: 20px;
    font-weight: 600;
    color: #2a3b71;
    margin-bottom: 20px;
}

.form-request .form-control {
    height: 50px;
    padding: 10px 15px;
    background: #f6f6f6;
    border: none;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    color: #495057;
    letter-spacing: 2px;
    font-weight: 300;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-request input::-webkit-input-placeholder {
    font-style: normal;
    color: #495057 !important;
}

.form-request input::-moz-placeholder {
    font-style: normal;
    color: #495057 !important;
}

.form-request input:-ms-input-placeholder {
    font-style: normal;
    color: #495057 !important;
}

.form-request input:-moz-placeholder {
    font-style: normal;
    color: #495057 !important;
}

.form-request textarea::-webkit-input-placeholder {
    font-style: normal;
    color: #495057 !important;
}

.form-request textarea::-moz-placeholder {
    font-style: normal;
    color: #495057 !important;
}

.form-request textarea:-ms-input-placeholder {
    font-style: normal;
    color: #495057 !important;
}

.form-request textarea:-moz-placeholder {
    font-style: normal;
    color: #495057 !important;
}

.form-request .form-control:focus {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.4);
}

.form-request textarea.form-control {
    height: auto;
}

.form-request .btn-default {
    border-radius: 0;
    background: #bf095d;
    border: none;
    margin: 20px 0;
    font-weight: 600;
    width: 100%;
}

.form-request .btn-default:hover {
    background: #fff;
    color: #bf095d;
}

.blogs .blog-box {
    margin-bottom: 30px;
}

.blogs .blog-box .blog-img {
    overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.blogs .blog-box .blog-img img {
    width: 100%;
}

.blogs .blog-box .blog-details h3 a {
    color: #bf095d;
    font-size: 18px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.blogs .blog-box .blog-details h3 a:hover {
    text-decoration: none;
}

.blogs .blog-box .blog-details .meta {
    margin: 0 0 15px;
}

.blogs .blog-box .blog-details .meta li {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
}

.blogs .blog-box .blog-details .meta li:first-child {
    padding-left: 0;
}

.blogs .blog-box .blog-details .meta li a {
    font-size: 12px;
    color: #a4a4a4;
}

.blogs .blog-box .blog-details .meta li:after {
    content: "|";
    position: absolute;
    right: -7.5px;
    color: #a4a4a4;
}

.blogs .blog-box .blog-details .meta li:last-child:after {
    display: none;
}

.blogs .blog-box .blog-details p {
    font-size: 14px;
    margin-bottom: 15px;
}

.single-blog .blog-box h3 {
    color: #bf095d;
    font-size: 18px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.single-blog p {
    line-height: 25px;
    font-size: 13px;
}

blockquote {
    margin: 26px 40px;
    border-left-color: #bf095d;
    background: #f3f3f3;
}

blockquote p {
    font-style: italic;
    margin: 0 !important;
}

.comments-container {
    padding: 50px 0 20px;
}

.comments-container h3 {
    font-size: 20px;
    margin: 0 0 20px;
}

.comments-container .comments-list {
    display: block;
}

.comments-container .comments-list li {
    background: #f3f3f3;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    min-height: 120px;
}

.comments-container .comments-list li .avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 15px;
    border-radius: 50%;
    overflow: hidden;
}

.comments-container .comments-list li .comment {
    padding: 20px 0;
}

.comments-container .comments-list li .comment h4 {
    margin: 0 0 20px;
    font-weight: 600;
}

.comments-container .comments-list li .comment h4 span {
    font-size: 13px;
    margin-left: 15px;
    font-style: italic;
    font-weight: 400;
}

.comments-container .comments-list li .comment p {
    margin: 0;
}

.comments-container .comments-list li ul.chiled {
    border-top: 2px dashed #e2e2e2;
}

.comments-form h3 {
    font-size: 20px;
    margin: 0 0 20px;
}

.comments-form .form-control {
    height: 50px;
    padding: 10px 15px;
    background: #f3f3f3;
    border: none;
    border-radius: 0;
    color: #2a3b71;
    letter-spacing: 2px;
    font-weight: 300;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.comments-form .form-control:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
}

.comments-form textarea.form-control {
    height: auto;
}

.comments-form input::-webkit-input-placeholder {
    font-style: italic;
    color: #8c8c8c !important;
}

.comments-form input::-moz-placeholder {
    font-style: italic;
    color: #8c8c8c !important;
}

.comments-form input:-ms-input-placeholder {
    font-style: italic;
    color: #8c8c8c !important;
}

.comments-form input:-moz-placeholder {
    font-style: italic;
    color: #8c8c8c !important;
}

.comments-form textarea::-webkit-input-placeholder {
    font-style: italic;
    color: #8c8c8c !important;
}

.comments-form textarea::-moz-placeholder {
    font-style: italic;
    color: #8c8c8c !important;
}

.comments-form textarea:-ms-input-placeholder {
    font-style: italic;
    color: #8c8c8c !important;
}

.comments-form textarea:-moz-placeholder {
    font-style: italic;
    color: #8c8c8c !important;
}

.comments-form .btn-default {
    border-radius: 0;
    background: #bf095d;
    border: none;
    margin: 20px 0;
    font-weight: 600;
}

.sidebar .search-form {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.sidebar .search-form input {
    height: 44px;
    border-radius: 25px;
    border: 1px solid #bf095d;
}

.sidebar .search-form .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: #bf095d;
    color: #fff;
    border-color: #bf095d;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: auto;
}

.sidebar .search-form input::-webkit-input-placeholder {
    font-style: italic;
    color: #000 !important;
}

.sidebar .search-form input::-moz-placeholder {
    font-style: italic;
    color: #000 !important;
}

.sidebar .search-form input:-ms-input-placeholder {
    font-style: italic;
    color: #000 !important;
}

.sidebar .search-form input:-moz-placeholder {
    font-style: italic;
    color: #000 !important;
}

.sidebar .sidebar-widget {
    padding: 20px 0;
}

.sidebar .sidebar-widget h4 {
    font-size: 20px;
    margin: 0;
    padding: 0 0 20px;
}

.sidebar .categories-widget ul li {
    padding: 3px 0;
}

.sidebar .categories-widget ul li a {
    padding: 10px;
    background: #f3f3f3;
    display: block;
    color: #bf095d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar .categories-widget ul li a:hover {
    text-decoration: none;
    background: #bf095d;
    color: #fff;
}

.sidebar .categories-widget ul li a span {
    float: right;
    background: #bf095d;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    height: 25px;
    width: 25px;
    margin-top: -1.5px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar .categories-widget ul li a:hover span {
    background: #fff;
    color: #bf095d;
}

.sidebar .recent-posts-widget ul li {
    display: table;
    margin-bottom: 20px;
}

.sidebar .recent-posts-widget .recent-post-img {
    float: left;
    width: 80px;
    height: 80px;
}

.sidebar .recent-posts-widget .recent-post-description {
    display: table-cell;
    padding-left: 15px;
    text-align: left;
    vertical-align: middle;
}

.sidebar .recent-posts-widget .recent-post-description h3 {
    font-size: 15px;
    margin: 0;
}

.sidebar .recent-posts-widget .recent-post-description h3 a {
    color: #bf095d;
}

.sidebar .archives-widget ul li a,
.sidebar .meta-widget ul li a {
    color: #bf095d;
    padding: 5px 0;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar .tags-widget ul li {
    display: inline-block;
    line-height: 50px;
}

.sidebar .tags-widget ul li a {
    background: #bf095d;
    color: #fff;
    font-size: 12px;
    line-height: 100%;
    margin: 5px;
    padding: 10px 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar .tags-widget ul li a:hover {
    background: #2a3b71;
}

footer {
    background-image: -moz-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background-image: -webkit-linear-gradient(-29deg, #333767 0, #233b88 100%);
    background-image: -ms-linear-gradient(-29deg, #333767 0, #233b88 100%);
}

footer p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 25px 0;
}

.demospage header .page-head img {
    max-width: 300px;
    margin: 0 auto;
    transition: all ease 0.3s;
}

.demospage header .page-head p,
.section-heade p.pdemo {
    color: #fff;
    font-size: 15px;
    max-width: 500px;
    margin: 0 auto;
    font-style: italic;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.7px;
}

.section-heade p.pdemo {
    color: #2a3b71;
}

.demospage header .page-head a {
    margin-bottom: 1em;
}

.demospage .boxdemo {
    padding: 50px;
    text-align: center;
    margin-bottom: 1em;
    transition: all ease 0.3s;
}

.demospage .boxdemo:hover img {
    transform: translateY(-5px);
    transition: all ease 0.3s;
}

.demospage .boxdemo:hover a {
    background: #bf095d;
    color: #fff;
}

.demospage .boxdemo h4 {
    color: #333;
    margin: 1em 0;
}

.map {
    line-height: 0;
}

.map iframe {
    width: 100%;
    height: 360px;
}

#one {
    margin-top: 50px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.container-uploader .btn-orange {
    background-color: transparent;
    border-color: #777 !important;
    color: #777;
    text-align: left;
    width: 100%;
}

.container-uploader input.form-control {
    height: 54px;
    border: none;
    margin-bottom: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}

.container-uploader .form-control:focus {
    border-color: #ff4d0d;
    box-shadow: none;
    outline: none;
}

.fileUpload {
    position: relative;
    /* overflow: hidden; */
    margin: 0 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    display: none;
}

.fileUpload .upl {
    font-size: 14px;
    white-space: nowrap;
    padding: 10px 0;
}

.container-uploader .btn-new,
.it .btn-next {
    margin: 30px 0px;
    border-radius: 0px;
    background-color: #333;
    color: #f5f5f5;
    font-size: 16px;
    width: 155px;
}

.container-uploader .btn-next {
    background-color: #ff4d0d;
    color: #fff;
}

.container-uploader .uploadDoc {
    margin-bottom: 20px;
}

.container-uploader .uploadDoc {
    margin-bottom: 20px;
}

.container-uploader .btn-orange img {
    width: 30px;
}

.container-uploader #uploader .docErr {
    position: absolute;
    right: auto;
    left: 10px;
    top: -56px;
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
    color: red;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.2);
    display: none;
}

.container-uploader #uploader .docErr:after {
    content: '\f0d7';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 50px;
    color: #fff;
    position: absolute;
    left: 30px;
    bottom: -40px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

#subscribe .subcribe-form {
    max-width: 500px;
    margin: 0 auto;
    position: relative
}

#subscribe .subcribe-form .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: #bf095d;
    color: #fff;
    border-color: #bf095d;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0
}

#subscribe .subcribe-form input {
    height: 44px;
    border-radius: 25px;
    border: 1px solid #bf095d
}

#subscribe .subcribe-form input::-webkit-input-placeholder {
    font-style: italic;
    color: #000 !important
}

#subscribe .subcribe-form input::-moz-placeholder {
    font-style: italic;
    color: #000 !important
}

#subscribe .subcribe-form input:-ms-input-placeholder {
    font-style: italic;
    color: #000 !important
}

#subscribe .subcribe-form input:-moz-placeholder {
    font-style: italic;
    color: #000 !important
}

@media (max-width:992px) {

    #subscribe h3,
    #subscribe p {
        text-align: center
    }
}

@media (max-width:480px) {
    #subscribe .subcribe-form .btn {
        position: relative;
        top: 20px;
        display: block;
        width: 100%;
        border-radius: 25px
    }
}

/* Custom init tel input */
.iti {
    width: 100%;
}

.orderstatus {
    color: #939393;
    display: flex;
    padding: 1em 0;
    position: relative;
    text-align: left;
    align-items: center;
    padding-top: 0;
}

.orderstatus.done:before {
    background: #32841f;

}

.orderstatus:before {
    content: '';
    height: 100%;
    position: absolute;
    left: 0;
    width: 2px;
    background: #939393;
    margin: 0 25px;
    top: 0;
}

.orderstatus:last-child:before {
    height: 45px;
}

.orderstatus.done {
    color: #333;
}

@media only screen and (max-width: 40em) {
    .orderstatus {
        text-align: left;
    }

    .orderstatus:before {
        left: 0;
    }

    .orderstatus .orderstatus-text {
        left: 0;
        width: 100%;
    }
}

.orderstatus-text {
    position: relative;
    left: 0;
    width: 100%;
    text-align: left;
    margin-left: 60px;
}

.orderstatus:not(:last-child) .orderstatus-text {
    border-bottom: 1px solid #f2f2f2;
}

@media only screen and (min-width: 40em) {
    .orderstatus:nth-child(2n) .orderstatus-text {
        left: 0;
        width: 100%;
        text-align: left;
        padding-right: 20px;
    }
}

.orderstatus-container {
    padding: 2em 0;
}

.orderstatus time {
    display: block;
    font-size: 1em;
    color: #939393;
}

.orderstatus.done time {
    color: #368d22;

}

@media only screen and (max-width: 40em) {
    .orderstatus-container {
        text-align: center;
    }
}

.orderstatus-check {
    font-family: "Helvetica", Arial, sans-serif;
    border: 2px solid #939393;
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 33px;
    border-radius: 50%;
    margin-bottom: 0.5em;
    background: #fff;
    z-index: 2;
    position: absolute;
    color: #939393;
    left: 9px;
    font-size: 16px;
}

.orderstatus.done .orderstatus-check {
    color: #fff;
    border-color: #368d22;
    background-color: #4d841f;
}

@media only screen and (max-width: 40em) {
    .orderstatus-check {
        left: 0;
    }
}

.orderstatus-active {
    text-align: center;
    position: relative;
    left: 25px;
    top: 20px;
    color: #939393;
}

@media only screen and (max-width: 40em) {
    .orderstatus-active {
        display: none;
    }
}